body {
  padding: 0;
  margin: 0;
  background-color: rgb(248, 248, 193);
}

.navbar {
  display: flex;
  background: #6f6af7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* justify-content: space-between; */
  align-items: center;
  color: white;
  height: 50px;
}

.dappr {
  padding-left: 35px;
  font-size: 30px;
  font-weight: bold;
}

.menu-items {
  display: flex;
  gap: 44px; /* Adjust the gap between menu items as needed */
  padding-left: 400px;
  padding-right: 120px;
  font-size: 20px;
}

.navbar-menu {
  cursor: pointer;
}

.input-box {
  position: relative;
  display: inline-block;
  background: white;
  border-radius: 50px;
  overflow: hidden;
  width: 200px;
}

.inbox {
  padding: 8px 20px 8px 15px;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  width: 75%;
}

.inbox::placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 75%;
  left: 15px;
  z-index: 1;
}

.inbox:focus {
  outline: none;
  box-shadow: none;
  color: grey;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 16px;
  z-index: 2;
}

.line-logo {
  height: 20px;
  padding-right: 5px;
  padding-left: 30px;
}

.section1 {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section1 img {
  width: 350px;
  height: 400px;
}

.right-section1 {
  padding-right: 150px;
  padding-top: 15px;
}
.section1 textarea {
  padding-top: 15px;
  padding-left: 10px;
  font-size: 17px;
  width: 750px;
  height: 360px;
  background: #e5d8ff;
  border: none;
  border-radius: 10px;
  color: grey;
}

.section1 textarea:focus {
  outline: none;
  box-shadow: none;
  color: grey;
}
.section2 {
  display: flex;
  justify-content: space-between;
  padding: 75px;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  width: 200px;
  color: white;
  text-align: center;
}

.cnt1 {
  background: #929dff;
  height: 90px;
  width: 170px;
  border-radius: 15px;
}
.cnt2 {
  background: #734cf2;
  height: 90px;
  width: 170px;
  border-radius: 15px;
}
.cnt3 {
  background: #d288ff;
  height: 90px;
  width: 170px;
  border-radius: 15px;
}
.cnt4 {
  background: #000000;
  height: 90px;
  width: 170px;
  border-radius: 15px;
}
